@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

section#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    background-color: rgb(3, 0, 3);
    padding: 30px;
}

div.hours, div.minutes, div.seconds{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 50vh;
    border-radius: 10px;
    background-color: rgb(22, 20, 20);
}

p.hr, p.min, p.sec{
    font-size: 18rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: rgb(204, 207, 211);
}

